html,
body {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
}

.content {
	width: 1200px;
	min-height: 200px;
}

#introduce>p:first-child,
#apply .title {
	font-size: 30px;
	color: #4A4A4A;
	font-weight: 600;
}

#introduce>p {
	font-size: 14px;
	color: #4A4A4A;
	width: 62%;
}

#introduce>div,
#applycircle {
	background: #A978D6;
	border-radius: 6px;
	width: 170px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	color: #FFFFFF;
	cursor: pointer;
}

#apply input,
#apply textarea {
	border: 1px solid #979797;
	border-radius: 6px;
}

#apply label {
	font-size: 14px;
	color: #4A4A4A;
}

#circleName {
	width: 324px;
	height: 43px;
}

.endtext {
	color: #C5C5C5 !important;
}

#circleintroduce {
	width: 324px;
	height: 196px;
}

#apply>div {
	margin: 20px 0;
}

.v-top {
	vertical-align: top;
}

.tag {
	width: 157px;
	height: 43px;
	border: 1px solid #979797;
	border-radius: 6px;
	margin-bottom: 10px;
}

#checkSumber {
	width: 14px;
	height: 14px;
	position: relative;
	top: 2px;
}

#applycircle {
	position: relative;
	left: 74px;
}
