html,
body {
	width: 100%;
	padding: 0;
	margin: 0;
}

.content {
	width: 1200px;
	min-height: 200px;

}

#introduce>p:first-child,
#apply .title {
	font-size: 30px;
	color: #4A4A4A;
	font-weight: 600;
}

#introduce>p {
	font-size: 14px;
	color: #4A4A4A;
	width: 62%;
}

#introduce>div,
#applycircle {
	background: #A978D6;
	border-radius: 6px;
	width: 170px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	color: #FFFFFF;
	cursor: pointer;
}

#apply input,
#apply textarea {
	border: 1px solid #979797;
	border-radius: 6px;
}

#apply label {
	font-size: 14px;
	color: #4A4A4A;
}

#circleName {
	width: 324px;
	height: 43px;
}

.endtext {
	color: #C5C5C5 !important;
}

#circleintroduce {
	width: 324px;
	height: 196px;
}

#apply>div {
	margin: 20px 0;
}

.v-top {
	vertical-align: top;
}

.tag {
	width: 157px;
	height: 43px;
	border: 1px solid #979797;
	border-radius: 6px;
	margin-bottom: 10px;
}

#checkSumber {
	width: 14px;
	height: 14px;
	position: relative;
	top: 2px;
}

#applycircle {
	position: relative;
	left: 74px;
}



.article {
	float: left;
	margin-right: 20px;
	padding: 0px;
	min-height: 100px;
}
.item {
	width: 58px;
	height: 58px;
	float: left;
	position: relative;
	margin: 0px;
}
.addImg {
	width: 58px;
	height: 58px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	cursor: pointer;
}
.preview,.preBlock{
	position: absolute;
	display: block;
	width: 58px;
	height: 58px;
	left: 0;
	top: 0;
}
.delete {
	width: 20px;
	position: absolute;
	right: -10px;
	top: -5px;
	cursor: pointer;
	display: none;
}
.preBlock img {
	display: block;
	width: 58px;
	height: 58px;
}
.upload_input{
	display: block;
	width: 0;
	height: 0;
	-webkit-opacity: 0.0;
	/* Netscape and Older than Firefox 0.9 */
	-moz-opacity: 0.0;
	/* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/
	-khtml-opacity: 0.0;
	/* IE9 + etc...modern browsers */
	opacity: .0;
	/* IE 4-9 */
	filter:alpha(opacity=0);
	/*This works in IE 8 & 9 too*/
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/*IE4-IE9*/
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.piccont{
	display: inline-block;
	height: 100px;
}
