@import '../../common/px2rem.scss';
$designWidth:1920;
html,body{
  width: 100%;
  min-height: px2rem(1080);
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.content{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#bangdan{
  width: 9.4%;
  display: flex;
  flex-direction: column;
}

#bangdan div{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: px2rem(400);
}


.content #hottopic{
  width: 40%;
  min-height: px2rem(200);
}

.content #wonderful{
  width: 30%;
  min-height: px2rem(200);
}
