html, body {
    width: 100%;
    min-height: 720px;
    overflow-y: inherit;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

.bannercont{
    overflow: hidden;
}

.bannercont,.sections,.section {
    width: 100%;
    height: 500px;
    position: relative;
}