html,body{
    width: 100%;
    min-height: 1080px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.content{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bangdan{
    width: 9.4%;
    display: flex;
    flex-direction: column;
}

#bangdan div{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 400px;
}


.content #hottopic{
    width: 40%;
    min-height: 200px;
}

.content #wonderful{
    width: 30%;
    min-height: 200px;
}
