.yueziguanlihead{
    position: relative;
    width: 100%;
    height: 30px;
    border-bottom:1px solid #979797;
    margin-top: 20px;
}
.quanbu{
    float: left;
    font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #4A4A4A;
    margin-right: 30px;
    cursor: pointer;
    height: 100%;
}
.fabubtn{
    float: right;
    background: #A978D6;
    border-radius: 6px;
    font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
}
.activityguan{
    color: #A978D6;
    border-bottom:2px solid #A978D6;
}
.yuezizhognxincont{
    position: relative;
    width: 100%;
    height: auto;
}
.yuezizhognxincontdetail{
    position: relative;
    width: 100%;
    height: 135px;
    margin-top: 15px;
    border-bottom: 1px solid #BBBBBB;
}

.yuezizhognxinpic{
    position: absolute;
    left: 0;
    width: 129px;
    height: 113px;
}
.yueziguanlidesccont{
    position: absolute;
    top:0;
    left: 145px;
    width: 500px;
    height: 100%;
}
.yuezimingcheng{
    position: relative;
    width: 100%;
    font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-top: 15px;
    color: #000000;
}
.yuezimingchengmiaoshu{
    position: relative;
    width: 100%;
    font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #BBBBBB;
    margin-top: 3px;
}
.yueziicon{
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background-image: url("../img/weizi.png");
}
.yuezigouxuankuang{
    position: absolute;
    top:0;
    right: 0;
    height: 100%;
}
.yuezizhognixnxuan{
    position: absolute;
    top:50px;
    right: 0;
}
.yuezibtncont{
    position: relative;
    width: 100%;
    height: auto;

}
.guanlibtncont{
    position: relative;
    width: 300px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
}
.guanlibtn{
    position: relative;
    width: 128px;
    height: 37px;
    background: #A978D6;
    border-radius: 6px;
    margin: 0 auto;
}
.guanlibtn2{
    position: absolute;
    display: none;
    width: 128px;
    height: 37px;
    background: #A978D6;
    border-radius: 6px;
}
.guanlibtn3{
    position: absolute;
    display: none;
    right: 0;
    width: 128px;
    height: 37px;
    border: 1px solid #8A80D9;
    border-radius: 6px;
}
.guanlibtnwenzi{
    width: 100%;
    text-align: center;
    font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding-top: 7px;
}
.tanchauntishi{
    position: fixed;
    display: none;
    top: 200px;
    width: 100%;
    height: 342px;
}
.tanchaungcont{
    position: relative;
    width: 549px;
    height: 342px;
    margin: 0 auto;
    border: 1px solid #979797;
    background-color: #FFFFFF;
}
.tishi{
    position: absolute;
    top:37px;
    width: 100%;
    text-align: center;
    font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: #4A4A4A;
}
.tishi2{
    position: absolute;
    top:126px;
    width: 100%;
    text-align: center;
    font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #4A4A4A;
}
.quxiao{
    position: absolute;
    bottom: 60px;
    left: 80px;
    width: 183px;
    height: 57px;
    background: #8A80D9;
    border-radius: 6px;
}
.queding{
    position: absolute;
    bottom: 60px;
    right: 80px;
    width: 183px;
    height: 57px;
    background: #A978D6;
    border-radius: 6px;
 }
.anniuwenzi{
    position: relative;
    width: 100%;
    text-align: center;
    font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif-Bold;
    font-size: 18px;
    color: #FFFFFF;
    padding-top: 15px;
}
.guanbicha{
    position: absolute;
    top:20px;
    right: 20px;
    width: 25px;
    height: 25px;
}