body {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  overflow: hidden; }

body, html {
  height: 100%;
}
.headmain {
  position: fixed;
  top: 0;
  width: 100%;
  height: 106px;
  background-color: #ffffff;
  z-index: 999; }

.headmainicon {
  position: absolute;
  top: 14px;
  left: 12.18%;
  width: 190px;
  height: 69px; }

.iframecont {
  position: relative;
  top: 106px;
  width: 100%;
  height: 89%;
  border: 0; }

.yingyezhizhao {
  position: absolute;
  top: 290px;
  width: 100%;
  text-align: center;
  opacity: 0.5;
  font-family: MicrosoftYaHeiUI;
  font-size: 14px;
  color: #9E9E9E; }

.footmain {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 475px;
  /*margin-bottom: 100px;*/
  margin-top: 150px;
  background-color: black; }

.headline {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #A978D6; }

#loginbtn {
  position: absolute;
  top: 42px;
  right: 160px;
  width: 75px;
  height: 35px;
  background-image: url(../img/pgindex_btn_login.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer; }

#loginbtn:hover {
  background-image: url(../img/pgindex_btn_login_hover.png); }

#loginbtn:active {
  background-image: url(../img/pgindex_btn_login_hover.png); }

#register {
  position: absolute;
  top: 42px;
  right: 249px;
  width: 75px;
  height: 35px;
  background-image: url(../img/pgindex_btn_register.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer; }

#register:hover {
  background-image: url(../img/pgindex_btn_register_hover.png); }

#register:active {
  background-image: url(../img/pgindex_btn_register_hover.png); }

#ximeijie {
  right: 30.2%; }

#huodong {
  right: 30.88%; }

#baike {
  right:35.31%; }

#wenda {
  right: 39.74%; }

#gonglue {
  right: 44.17%; }

#xiyouquan {
  right: 49.3%; }

#shouye {
  right: 54.41%; }

.mainchoose {
  position: absolute;
  width: 96px;
  height: 100%;
  cursor: pointer;
  color: #808080; }

.chooseline {
  position: absolute;
  display: none;
  bottom: 0;
  width: 100%;
  height: 6px;
  background-color: #A978D6; }

.maindesc {
  position: absolute;
  bottom: 36px;
  font-size: 18px;
  font-family: MicrosoftYaHeiUI;
  width: 100%;
  text-align: center; }

.mainchoose:hover {
  color: #A978D6; }

a {
  text-decoration: none;
  color: #9E9E9E; }

.foorcont {
  position: absolute;
  top: 61px;
  width: 100%;
  height: 150px; }

.aboutximei {
  position: absolute;
  top: 0;
  left:15.15%;
  width: 108px;
  height: 100%; }

.aboutdesc {
  position: relative;
  margin-bottom: 10px;
  text-align: center;
  font-family: MicrosoftYaHeiUI;
  color: #9E9E9E;
  height: 30px; }

.aboutdescsmall {
  position: relative;
  margin-bottom: 7px;
  text-align: center;
  font-family: MicrosoftYaHeiUI;
  color: #9E9E9E;
  height: 20px; }

.descad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.aboutdesc1 {
  font-size: 18px; }

.aboutdesc2 {
  position: absolute;
  font-size: 14px; }

.linefootleft {
  position: absolute;
  top: 257px;
  left: 0;
  width: 30%;
  height: 1px;
  background-color: #939393; }

.linefootright {
  position: absolute;
  top: 257px;
  right: 0;
  width: 30%;
  height: 1px;
  background-color: #939393; }

.friendsicon {
  position: absolute;
  top: 0;
  left: 30%;
  width: 206px;
  height: 100%; }

.friends {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: MicrosoftYaHeiUI;
  font-size: 18px;
  color: #9E9E9E;
  text-align: center; }

.parenterpic {
  position: absolute;
  top: 37px;
  width: 100%;
  height: 84px; }

.kefu {
  position: absolute;
  top: 0;
  right: 19%;
  width: 139px;
  height: 100%; }

.weibo {
  position: absolute;
  top: 0;
  right: 30%;
  width: 139px;
  height: 100%; }

.erweima {
  position: absolute;
  top: 0;
  left: 20px;
  width: 99px;
  height: 99px;
  background-color: #ffffff; }

.erweima > img {
  position: absolute;
  top: 0;
  margin-top: 5px;
  margin-left: 5px;
  width: 89px;
  height: 89px; }

.erweimadesc {
  position: absolute;
  top: 108px;
  width: 100%;
  text-align: center;
  font-family: MicrosoftYaHeiUI;
  font-size: 14px;
  color: #9E9E9E; }

.friendslinks {
  position: absolute;
  top: 245px;
  /*left: 758px;*/
  width: 100%;
  text-align: center;
  height: 18px; }

.linkfriend {
  /*float: left;*/
  font-family: MicrosoftYaHeiUI;
  font-size: 14px;
  color: #9E9E9E;
  margin-right: 6px; }

/*# sourceMappingURL=index.css.map */
