body {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  overflow-y: scroll;
}
p{
  margin: 0;
}
.indexcont{
  position: relative;
  width: 100%;
  height: 377px;
}
.bannercont{
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery-top {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
}
.gallery-thumbs {
  position: absolute;
  bottom: 0;
  height: 80px;
  box-sizing: border-box;
  padding:10px 0;
}
.gallery-thumbs .swiper-slide {
  width: 110px;
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
  border: 4px solid #A978D6;
}
.findcont{
  position: absolute;
  top:171px;
  left: 26.35%;
  width: 543px;
  height: 100px;
  z-index: 999;
}
.shurukuangcont{
  position: absolute;
  top:26px;
  left: 36px;
  width: 350px;
  height: 51px;
  /*border: 1px solid #E0E0E0 ;*/
  border-radius: 4px;
  background-color: #ffffff;
  box-sizing: border-box;
}
.iconsearch{
  position: absolute;
  top:19px;
  left: 17px;
  width: 14px;
  height: 14px;
}
.searchinput{
  position: absolute;
  top:15px;
  left: 41px;
  width: 255px;
  height: 18px;
  font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #9B9B9B;
  border: 0px;
  outline:none;
}
#searchbtn{
  position: absolute;
  top:26px;
  right: 36px;
  width: 114px;
  height: 51px;
  background-image: url(../img/pgindex_btn-search.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
}
#searchbtn:hover{
  background-image: url(../img/pgindex_btn-search_hover.png);
}
#searchbtn:active{
  background-image: url(../img/pgindex_btn-search_hover.png);
}
.videocontent{
  position: relative;
  /*left: 367px;*/
  width: 1186px;
  height: 205px;
  padding-left: 30px;
  overflow: hidden;
  margin: auto;
  margin-top: 18px;
}
.mostcont{
  position: relative;
  width: 1200px;
  height: auto;
  margin: auto;
  margin-top: 68px;
  overflow: hidden;
}
.knowledgecont{
  position: relative;
  /*left: 367px;*/
  width: 1200px;
  height: auto;
  margin: auto;
  margin-top: 68px;
  overflow: hidden;
}
.shopcont{
  position: relative;
  /*left: 367px;*/
  width: 1200px;
  height: auto;
  margin: auto;
  margin-top: 68px;
  overflow: hidden;
}
.casualcont{
  position: relative;
  /*left: 367px;*/
  width: 1200px;
  height: auto;
  margin: auto;
  margin-top: 76px;
  overflow: hidden;
}
.topicityccont{
  position: relative;
  /*left: 367px;*/
  width: 1200px;
  height: auto;
  margin: auto;
  margin-top: 77px;
  overflow: hidden;
}
.firstvideo{
  float: left;
  top:0;
  left: 0;
  width: 33.3%;
  height: 100%;
  margin-right: 23px;
  cursor: pointer;
}
.secondvideo{
  float: left;
  top:0;
  left: 0;
  width: 18.718%;
  height: 100%;
  margin-right: 23px;
}
.bigvideo{
  position: relative;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.smallvideo{
  position: relative;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.videocontentfloat{
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
}
.videos{
  position: absolute;
  display: none;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 111;
}
.videos2{
  position: absolute;
  /*display: none;*/
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.videodesc{
  position: absolute;
  top:142px;
  width: 100%;
  font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size:5px;
  color: #FFFFFF;
  text-align: center;
}
.mengceng{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
.videopic{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.clockcont{
  position: absolute;
  top:400px;
  right: 10px;
  width: 103px;
  height: 493px;
  z-index: 1111;
}
.playbtn{
  position: absolute;
  top:67px;
  width: 100%;
  height: 70px;
  background-image: url(../img/pgindex_btn_play.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.mostcontleft{
  float: left;
  width: 395px;
  height: auto;
  margin-right: 31px;
}
.mostcontright{
  float: left;
  width: 773px;
  height: auto;
  overflow: hidden;
}
.newpolicy{
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 7px;
}
.moretitle{
  position: relative;
  width: 100%;
  height: 28px;
}
.bigdesctitle{
  float: left;
  font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #070707;
}
.moreMesg{
  float: right;
  bottom: 0;
  font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #070707;
  cursor: pointer;
  margin-top: 6px;
}
.moredetailcont{
  position: relative;
  width: 100%;
  height: 150px;
  margin-top: 30px;
  border: 0;
}
.moredetaildesc{
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 12px;
  border: 0;
}
.moredetailpic{
  position: relative;
  width:395px;
  height: 150px;
}
.newproictitle{
  position: relative;
  width: 100%;
  font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #070707;
  margin-top: 12px;
}
.newproicde{
  position: relative;
  width: 100%;
  height: auto;
  font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #666666;
  line-height: 26px;
  margin-top: 8px;
}
.xiangqingBtn{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 74px;
  height: 22px;
  background-image: url(../img/pgindex_btn_detal.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.xiangqingBtn:active{
  background-image: url(../img/pgindex_btn_detal_hover.png);
}
.xiangqingBtn:hover{
  background-image: url(../img/pgindex_btn_detal_hover.png);
}
.hottitle{
  position: relative;
  width: 90%;
  margin-left: 10px;
  height: 24px;
}
.hottitle2{
  position: relative;
  width: 90%;
  height: 24px;
}
.hotcompositioncont{
  position: relative;
  width: 763px;
  height: 176px;
  margin-top: 20px;
  cursor: pointer;
}
.hotpic{
  position: absolute;
  top:13px;
  left: 12px;
  width: 222px;
  height: 150px;
}
.sections,.section {
  height:100%;
}
#container,.sections {
  position: relative;
}
.section {
  background-color: #000;
  background-size: cover;
  background-position: 50% 50%;
  text-align: center;
  color: white;
}
.hotcompositionconttitle{
  position: relative;
  width: 482px;
  height: 23px;
  margin-top: 28px;
  font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #070707;
}
.hotdesccont{
  position: absolute;
  left: 257px;
  width: 482px;
  top:0;
  height: 100%;
}
.hotcompositioncontzhegnwen{
  position: relative;
  width: 100%;
  height: 51px;
  font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #666666;
  line-height:26px;
  margin-top: 12px;
}
.hotusermessage{
  position: relative;
  width: 100%;
  height: 30px;
  margin-top: 18px;
}
.hotuserheadicon{
  float: left;
  width: 26px;
  height: 26px;
}
.hotuserheadiconimg{
  position: relative;
  left: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-image: url(../img/head.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.hotusername{
  float: left;
  font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 3px;
  color: #A978D6;
}
.hotusername>div{
  position: absolute;
  left: 0;
  top:0;
  height: 100%;
  width: auto;
  vertical-align: middle;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-pack:center;
  -moz-box-pack:center;
  -webkit-box-align:center;
  -moz-box-align:center;
}
.hotuserhearticon{
  float: left;
  width: 26px;
  height: 26px;
  margin-left: 25px;
}
.hotuserhearticonimg{
  position: relative;
  left: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-image: url(../img/head.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.hotuserhearticonimg2{
  position: relative;
  left: 0;
  width: 26px;
  height: 26px;
  background-image: url(../img/pgindex_hotartiles_icon_like.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.hotuserhearticonimg3{
  position: relative;
  left: 0;
  width: 26px;
  height: 26px;
  background-image: url(../img/pgindex_hotartiles_icon_comment.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.hotuserheartnum{
  float: left;
  font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-left: 9px;
  margin-top: 3px;
  color: #666666;
}
.hotusermsgicon{
  float: left;
  width: 26px;
  height: 26px;
  margin-left: 25px;
}
.hotusermsgiconimg{
  position: relative;
  left: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-image: url(../img/head.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.hotusertalknum{
  float: left;
  font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 3px;
  color: #666666;
}
.nestpagecont{
  position: relative;
  width: 763px;
  height: 24px;
  margin-top: 2px;

}
.nestpagecont2{
  position: absolute;
  left: 257px;
  width: 482px;
  top:0;
  height: 100%;
}
.totalpagenum{
  float: left;
  font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #A1A1A1;
  margin-right: 20px;
}
.pagenum{
  float: left;
  width: auto;
  height: 100%;
}

.numchooseno{
  float: left;
  width: auto;
  height: 22px;
  border-radius: 2px;
  margin-right: 10px;
  color: #A1A1A1;
  cursor: pointer;
}
.numchoose{
  float: left;
  width: auto;
  height: 22px;
  border-radius: 2px;
  background-color: #A978D6;
  margin-right: 10px;
  color: #FFFFFF;
  cursor: pointer;
}
#fenye1,#fenye2,#fenye3,#fenye4{
  display: none;
}
.numchoosenum{
  position: relative;
  width: auto;
  height: 100%;
  text-align: center;
  font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
}
.nestpagebtn{
  float: left;
  width: 60px;
  margin-left: 10px;
  height: 100%;
  background-image: url(../img/pgindexnest.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
}
.nestpagebtn:active{
  background-image: url(../img/pgindexnestp.png);
}
.nestpagebtn:hover{
  background-image: url(../img/pgindexnestp.png);
}
.lastpagebtn{
  float: left;
  width: 60px;
  margin-right: 20px;
  height: 100%;
  background-image: url(../img/pgindeshang.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
}
.lastpagebtn:active{
  background-image: url(../img/pgindeshangp.png);
}
.lastpagebtn:hover{
  background-image: url(../img/pgindeshangp.png);
}
.changjianproblemcont{
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 12px;
  border-bottom: 1px dashed #D1D1D1;
  border-right: 0;
  border-left: 0;
  border-top: 0;

}
.ranknum{
  position: absolute;
  top:7px;
  left: 0;
  width: 22px;
  height: 22px;

  border-radius: 50%;
  font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-align: center;
}
.ranknumbg1{
  background: #A978D6;
}
.ranknumbg2{
  background: #CCAFE9;
}
.ranknumbg3{
  background: #E6AFC4;
}
.ranknum>div{
  position: relative;
  margin-top: 3px;
  bottom: 2px;
}
.ranknum1{
  color: #FFFFFF;
}
.ranknum2{
  color: #666666;
}
.problemdesc{
  position: absolute;
  top:7px;
  left: 30px;
  width: 380px;
  height: auto;
  font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #666666;
}
.uomustknowledgecont{
  position: relative;
  margin-left: 10px;
  width: 823px;
  height: 250px;
  margin-top: 30px;
}
/*.uomustknowledgecont>div{*/
  /*position: absolute;*/
  /*width: 100%;*/
  /*height: 100%;*/
/*}*/
.topichotcont{
  position: relative;
  margin-left: 10px;
  width: 823px;
  height: 250px;
  margin-top: 30px;
}
.topichotcont>div{
  position: absolute;
  width: 100%;
  height: 100%;
}
.mustknowledg{
  float: left;
  left: 0;
  width: 222px;
  height: 100%;
  margin-right: 48px;
  cursor: pointer;
}
.topichotmsg{
  float: left;
  left: 0;
  width: 222px;
  height: 100%;
  margin-right: 48px;
  cursor: pointer;
}
.mustpiccont{
  position: relative;
  width: 222px;
  height: 151px;
}
.mustpiccont>img{
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
}
.mustpicconttage{
  position: absolute;
  top:15px;
  left: 0;
  width: 73px;
  height: 35px;
  opacity: 0.8;
  background: #A978D6;
  border-top-right-radius:20px;
  border-bottom-right-radius:20px;
}
.mustpicconttage>div{
  position: absolute;
  top:8px;
  font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #FFFFFF;
}
.mustknowledgedesc{
  position: relative;
  width: 222px;
  font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust:none;
  margin-top: 20px;
  font-size: 14px;
  color: #030303;
  line-height: 26px;
}
.shoppic{
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.shopImg{
  position: relative;
  width: 1200px;
  height: 209px;
}
.citycont{
  position: relative;
  width: 100%;
  height: 151px;
  margin-top: 26px;
  cursor: pointer;
}
.citycont>img{
  position: relative;
  width: 100%;
  height: 100%;
}
.casualpiccont{
  position: relative;
  width: 1250px;
  height: 250px;
  margin-top: 30px;
}
.casualpiccont>div{
  position: absolute;
  width: 100%;
  height: 100%;
}
.suibianbig{
  float: left;
  width: 395px;
  height: 250px;
  margin-right: 43px;
  cursor: pointer;
}
.suibianbigpic{
  position: relative;
  width: 100%;
  height: 100%;
}
.suibiansmall{
  float: left;
  width: 222px;
  height: 250px;
  margin-right: 47px;
  cursor: pointer;
}
.suibiansmallpic{
  position: relative;
  width: 100%;
  height: 100%;
}
.msgcurrentcont{
  position: absolute;
  top:32px;
  right:10.6%;
  width:162px;
  height: 225px;
  z-index: 999;
}
.currentBtn2{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 33px;
}
.currentBtn{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 33px;
  background-image: url(../img/pgindex_btn_close.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
}
.currentBtn:active{
  background-image: url(../img/pgindex_btn_close_hover.png);
}
.currentBtn:hover{
  background-image: url(../img/pgindex_btn_close_hover.png);
}
.currentmsgcont{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.currentmsg{
  position: relative;
  width: 162px;
  height: 60px;
  margin-bottom: 5px;
  border-radius: 6px;
  background-color: #DFC0FB;
  overflow: hidden;
}
.currenttype{
  position: absolute;
  top:2px;
  width: 100%;
  left: 12px;
  text-align: left;
  font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif-Bold;
  font-size: 14px;
  color: #A978D6;
}
.currentwriter{
  position: absolute;
  top:20px;
  width: 100%;
  left: 12px;
  text-align: left;
  font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif-Bold;
  font-size: 14px;
  color: #A978D6;
}
.currenttitle{
  position: absolute;
  top:38px;
  width: 100%;
  left: 12px;
  text-align: left;
  font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif-Bold;
  font-size: 14px;
  color: #A978D6;
}
.currentusercolor{
  color: #4A4A4A;
}