.muyingbanner{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
}
.muyingbannerpic{
    position: relative;
    width: 100%;
    height: auto;
}
.fenleicont{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 30px;
}
.fenlei{
    float: left;
    border-radius: 6px;
    width: 100px;
    height: 100%;
    border: 1px solid #D6D6D6;
    margin-right: 8px;
    cursor: pointer;
}
.fenlei2{
    float: left;
    border-radius: 6px;
    width: 100px;
    height: 100%;
    border: 1px solid #D6D6D6;
    margin-right: 8px;
    cursor: pointer;
}

.fenleizi2{
    position: relative;
    width: 100%;
    text-align: center;
    top:2px;
    margin-top: 2px;
    font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;

}
.fenleizi{
    color: #9B9B9B;
}
.shangpincont{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height:auto;
}
.bibu{
    clear: both;
    position: relative;
    top: 60px;
    width: 100%;
    height: 70px;
    opacity: 0.64;
    background: #F4F4F4;
    text-align: center;
    cursor: pointer;
}
.chakangengduo{
    position: relative;
    font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    top: 30px;
    color: #9B9B9B;
}
.shangpindetailcont{
    float: left;
    left: 0;
    width: 23%;
    margin-top: 15px;
    height:auto;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    margin-right: 0.5%;
    margin-left: 1%;
    cursor: pointer;
}
.shangpindetailcontpic{
    position: relative;
    left: 2%;
    top:4px;
    width: 96%;
    height: auto;
}
.shaopname{
    position: relative;
    width: 100%;
    left: 0%;
    text-align: center;
    font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000000;
    height: 30px;
    margin-top: 10px;
}
.shaopprice{
    position: relative;
    width: 100%;
    left: 2%;
    text-align: left;
    font-family: 'Microsoft YaHei', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #A978D6;
}