body {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    overflow-y: scroll;
}
p{
    margin: 0;
}
.indexcont{
    position: relative;
    width: 62.5%;
    height: auto;
    margin: 0 auto;
}
.searchcont{
    position: relative;
    width: 100%;
    height: auto;
}
.searchdesc{
    position: relative;
    margin-top: 56px;
    width: 100%;
    font-family: MicrosoftYaHeiUI;
    font-size: 24px;
    color: #808080;
}
.searchh{
    position: relative;
    width: 100%;
    height: 44px;
}
.searchtt{
    position: absolute;
    top:0;
    left: 0;
    width: 563px;
    height: 44px;
    margin-top: 10px;
    border: 1px solid #979797;
    border-radius: 6px;
}
.searchkuang{
    outline: none;
    font-family: MicrosoftYaHeiUI;
    font-size: 18px;
    color: #3c3c3c;
    position: relative;
    top:8px;
    left: 2%;
    width: 90%;
    height: 25px;
    padding-left: 5px;
    border: 0px;
}
#searchbtn{
    position: absolute;
    top:0;
    left: 600px;
    width: 127px;
    height: 100%;
    background: #A978D6;
    border-radius: 6px;
}
.anniuwenzi{
    position: absolute;
    width: 100%;
    font-family: MicrosoftYaHeiUI;
    font-size: 26px;
    color: #FFFFFF;
    text-align: center;
    vertical-align:middle;
    padding-top: 5px;
}
.ximeijiecont{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.searchneirong{
    position: relative;
    display: none;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
}
.chazhaokongbai{
    clear: both;
}
.msgdetailm2{
    float: left;
    width: 70%;
    height: 180px;
    margin: 7px;
    /*border: 1px solid #E1E1E1;*/
    cursor: pointer;
}
.dearch{
    position: relative;
    top:36px;
    left: 10px;
    font-family: MicrosoftYaHeiUI;
    font-size: 24px;
    color: #A978D6;
}
.msgdetailmtitlecont2{
    float: left;
    margin-top:10px;
    left: 2%;
    width: 75%;
    height: 90%;
}
.ximeijiecontdeschead{
    position: relative;
    top:0;
    width: 100%;
    height: 40px;
    margin-top: 60px;
}
.miaoshutt{
    position: absolute;
    top:0;
    left: 0;
    width: 30%;
    height: 100%;
    font-family: MicrosoftYaHeiUI;
    font-size: 24px;
    color: #000000;
}
.ximeijiedifang{
    position: absolute;
    bottom: 0;
    width: 50%;
    right: 0;
    font-family: MicrosoftYaHeiUI;
    font-size: 14px;
    color: #000000;
}
.chegnshixuanze{
    float: right;
    margin-left: 10px;
    cursor: pointer;
}
.chengshicontt{
    float: right;
    width: auto;
}
.chengshimingcheng{
    float: right;
    margin-right: 10px;
    cursor: pointer;
}
.chengshimingcheng2{
    float: right;
    margin-right: 10px;
    cursor: pointer;
}
.linechegnshi{
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 1px;
    background-color: #cccccc;
}
.ximeijiemaincont{
    position: relative;
    width: 110%;
    height: auto;
    margin-top: 20px;
}
.clear{
    clear: both;
}
.ximeijiedetailcont{
    float: left;
    width: 21%;
    height:240px;
    margin-right: 15px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    cursor: pointer;
}
.ximeijiedetailcontpic{
    position: relative;
    top:5%;
    left: 5%;
    width: 90%;
    height: 80%;
    background-image: url(../img/ximei.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.ximeijiedetailcontpicdesc{
    position: relative;
    margin-top: 15%;
    bottom: 17px;
    width: 100%;
    text-align: center;
    font-family: MicrosoftYaHeiUI;
    font-size: 18px;
    color: #000000;
}